@import "./config";

.featureItem {
  margin-bottom: 2rem;
  // border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 grey;

  &__info {
    padding: 1rem;
    border-left: 0.4rem solid $purple;
    margin-bottom: 1rem;

    &__number {
      color: $purple;
      font-size: 5rem;
    }

    &__quote {
      margin-bottom: 1rem;
    }

    &__title {
      font-size: 2.3rem;
      margin-top: -1.5rem;
      text-transform: uppercase;
    }
  }
  &__imageContainer {
    &__image {
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    &__alt {
      font-size: 0.7rem;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
  }
  &__body {
    margin-bottom: 1rem;
  }
}

//select every second item (eg: number 9, 7, 5)
